* {
  margin: 0px;
  padding: 0px;
  font-family: "Comic Relief", system-ui;
  scroll-behavior: smooth;
}
/* header styling */

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar {
  height: 60px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.622);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 8px;
  z-index: 5;
}
.navlink {
  color: white;
  padding: 7px 6px;
  border-radius: 10px;
  transition: 0.8s;
}
.navlink:hover {
  background-color: rgb(244, 159, 0);
}
.navmenu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

/* hero section */

.herosection {
  min-height: 100vh;
background-image:url(Pngtree—stylish\ coffee\ cups\ resting\ on_1351318822.JPG);
background-size: cover;

}
.herocontent {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(235, 230, 230);
}
.heroimg img {
  height: 50vh;
}
.herodetail {
  max-width: 350px;
  line-height: 25px;
}
.herodetail h1 {
  font-family: "Cedarville Cursive", cursive;
  color: rgb(244, 159, 0);
  font-size: 40px;
  margin-bottom: 20px;
}
/* .black{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.899);
  
} */
/* button stylling */

.order-now {
  background-color: rgb(244, 159, 0);
  padding: 5px 8px;
  border: 2px solid transparent;
  border-radius: 50px;
  margin-right: 20px;
}
.herobutton {
  margin-top: 30px;
}
.contact-us {
  background-color: transparent;
  padding: 5px 8px;
  border: 2px solid rgb(162, 159, 159);
  border-radius: 50px;
  margin-right: 50px;
}
.contact-us:hover {
  background-color: rgb(244, 159, 0);
  transition: 0.8s;
}
.order-now:hover {
  background-color: transparent;
  transition: 0.8s;
  border: 2px solid rgb(162, 159, 159);
}
/* media query */

@media (max-width: 600px) {
  .herocontent {
    flex-wrap: wrap;
    min-height: 100vh;
  }
  .herodetail{
    margin-top: 80px;
  }
  .herosection{
    background-image: url(Pngtree—stylish\ coffee\ cups\ resting\ on_13513188.JPG);
    background-size: cover;
  }
}

/* about section stylling*/

.about-section {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-section img {
  height: 70px;
  border-radius: 50%;
  height: 230px;
}
.about-text {
  max-width: 500px;
  text-align: center;
}
.About-us {
  border-bottom: 4px solid rgb(235, 155, 16);
  display: inline-block;
  margin-bottom: 15px;
}

/* media query */

@media (max-width: 600px) {
  .about-section {
    display: flex;
    flex-wrap: wrap;
  }
}
/* menu section */

.menu {
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
}
.menu h2 {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 4px solid rgb(235, 155, 16);
}
.Menu-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Menu-section img {
  height: 180px;
}
.menu-content {
  text-align: center;
  margin: 40px;
}
.Menu-section h2 {
  text-align: center;
}

@media (max-width: 600px) {
  .Menu-section {
    display: flex;
    flex-wrap: wrap;
  }
}
/* gallery stylling */
.gallery span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.gallery-item {
  display: flex;
  justify-content: space-evenly;
}
.gallery-list img {
  height: 145px;
  margin: 30px;
  border-radius: 20px;
}
.gallery-list img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .gallery .gallery-item {
    flex-wrap: wrap;
  }
}

/* contact stylling */

.contactsec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact {
  max-width: 400px;
  height: 70vh;
  align-content: center;
  text-align: center;
  color: rgb(9, 9, 9);
  margin-top: 30px;
}
.contact .input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid rgb(142, 142, 142);
  margin: 10px;
  padding-left: 15px;
}
.contact button {
  background-color: rgb(144, 17, 17);
  color: rgb(255, 254, 254);
}

@media (max-width: 600px) {
  .contactsec {
    flex-wrap: wrap;
  }
}
footer{
  display: flex;
  justify-content: space-between;
  height: 35vh;
  background-color: #212121;
  margin-top: 30px; 
  color: whitesmoke;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2rem;;
}
footer .icon{
  font-size: 20px;
}
footer .content{
 
  color: whitesmoke;
}
footer .text{
  max-width: 150px;
}
footer .social{
  margin-top: 20px;
  font-size: 30px;
}
.footer2{
  display: flex;
  justify-content: space-around;
  background-color: #313131;
  color: whitesmoke;
}